@charset "UTF-8";
@import "var";
.top {
    padding-top: 0;
    .side-right {
        .tab-wrap {

            display: flex;
            flex-direction: column;
            height: 100%;
        }
        .tabs {
            li {

                font-size: 18px;
                line-height: 2em;
            }
        }
        li {
            border-bottom: 1px solid #ccc;
            margin-bottom: 0;
            font-size: 14px;
            line-height: 1.5em;
        }
        .tab-content {
            >li {
                border-bottom: none;
                ul {
                    display: flex;
                    flex-wrap: wrap;
                    li {
                        align-items: center;
                        display: flex;
                        width: 100%;
                        box-sizing: border-box;
                        padding-left: 10px;
                    }
                }
                a {
                    color: $bluegreen;
                    &:hover {
                        color: #000;
                    }
                }
            }
        }
    }
}

.hot {
    .hot-articles,
    .hot-today {
        position: relative;
        padding-bottom: 2em;
    }
    .hot-articles {
        h3 {
            background-color: #d2ebed;
            font-size: 24px;
            font-weight: bold;
            letter-spacing: 5px;
            line-height: 1.5em;
            padding-left: 0.5em;
        }
        .img {
            padding: 16px;
            position: relative;
        }
        .text {
            padding: 0 16px;
        }
        li {
            background-color: #fff;
        }
        .list {
            line-height: 2em;
            li {
                border-bottom: 1px solid #e5e5e5;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
    .hot-today {
        width: 354px;
        padding: 0 30px 0;
        .img {
            position: relative;
            padding-top: 20px;
            border: 1px solid #bfbfbf;
            img {
                margin: 0 auto 20px;
            }
            /* &:after{
                content:"";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+50&1+0,0+50
                background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 50%); FF3.6-15
                background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 50%); Chrome10-25,Safari5.1-6
                background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 50%); W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); IE6-9
                } */
        }
        >div {
            // height: 100%;
        }
        ul {
            padding-bottom: 2em;
        }
        h3 {
            font-size: 22px;
            position: absolute;
            color: #ffffff;
            left: 40px;
            top: 10px;
            z-index: 2;
        }
        p {
            font-size: 13px;
            margin-top: 1em;
            padding: 0 10px;
        }
        .swiper-button-next,
        .swiper-button-prev {
            top: 130px;
        }
        .swiper-button-next {
            right: -16px;
        }
        .swiper-button-prev {
            left: -16px;
        }
    }
    .grid3 {
        width: 790px;
    }
    .text {
        font-size: 18px;
    }
    .btn-more {
        color: $bluegreen;
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .searchbar {
        // margin-left: 30px;
    }
}

section {
    .btn-more {
        position: absolute;
        z-index: 99;
        right: 20px;
        bottom: 0;
        color: #02b6c1;
        font-weight: bold;
    }
}

//.hot end
.yellow-pages {
    .btn-more {
        right: 0;
        bottom: -20px;
    }
    .img {}
    .text {
        padding: 10px 12px;
        background-color: #fff;
        h3 {
            font-size: 15px;
            margin-bottom: 10px;
        }
        p {
            font-size: 12px;
            color: #636363;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            height: 15px;
        }
    }

    li {
        // margin-bottom: 0;
    }
    .side-right {
        background-color: #eeeeee;
        h3 {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 1em;
        }
    }
    .content {
        .searchbar {
            margin-bottom: 1em;
        }
    }
    .search-cat {
        h4 {
            font-weight: bold;
            margin-bottom: 0.5em;
        }
    }
}

.professional {
    @extend .yellow-pages;
    .content li {
        margin-bottom: 2em;
        display: flex;
        flex-direction: column;
        .text {
            flex-grow: 1;
        }
    }
}

.resume-edit,
.member-edit {
    @extend .register;
}

.manufacturers {
    .btn-more {
        right: 40px;
        bottom: -40px;
    }
    .tab {
        li {
            position: relative;
            min-width: 6em;
            box-sizing: border-box;
            &:after {
                content: "";
                position: absolute;
            }
        }
    }
}

.manufacturers .content.grid-intro .text {
    padding: 10px 20px 40px;
}

.content [class^=grid] {
    a {
        color: #000;
        font-weight: bold;
    }
    .text {
        display: block;
        font-size: 18px;
        padding: 10px 10px 20px;
    }
    .icon-intro {
        position: absolute;
        right: 10px;
        top: 10px;
    }
}

.exhibit .content {
    background-color: #fafafa;
    .btn-more {
        bottom: -40px;
        right: 40px;
    }
    .icon-intro {
        display: flex;
        margin-bottom: 2em;
        .icon {
            margin-right: 0.5em;
            a {
                display: flex;
                align-items: center;
                color: #000;
                img {
                    margin-right: 10px!important;
                }
            }
        }
        li {
            display: flex;
            align-items: center;
            margin-right: 1em;
        }
    }
    li.ad {
        .img {
            height: 100%;
        }
        a {
            display: block;
            width: calc(100% - 20px);
            height: 100%;
            overflow: hidden;
            position: absolute;
            left: 10px;
            top: 0;
            img {}
        }
        .text {
            position: absolute;
            display: flex;
            background-color: transparent;
            font-size: 32px;
            width: calc(100% - 20px);
            height: 100%;
            padding: 0;
            justify-content: center;
            align-items: center;
            pointer-events: none;
            box-sizing: border-box;
        }
    }
}

.manufact {
    .core {
        .swiper-container {
            width: calc(100% - 60px);
        }
        .img {
            width: 310px;
            margin-right: 10px;
        }
        .text {
            width: auto;
            flex-grow: 1;
        }
    }
    .law {
        .swiper-container {
            width: calc(100% - 60px);
        }
    }
    .link {
        .swiper-container {
            width: calc(100% - 60px);
        }
    }
    .swiper-slide {
        flex-wrap: wrap;
        .ttl {
            max-width: none !important;
        }
        .img {
            width: 100%;
        }
        p {
            font-size: 12px;
        }
    }
}

.market {
    background-color: #fafafa;
    padding-bottom: 20px;
    >img {
        width: calc(100% - 50px);
        margin: 0 auto;
    }
    .content {
        background-color: #ffffff;
        &.grid-intro {
            .text {
                padding-bottom: 0
            }
            .cat {
                >h3 {
                    background-color: #f7f0c2;
                    color: #58230b;
                    display: inline-flex;
                    padding: 5px;
                    letter-spacing: 2px;
                    margin-left: 35px;
                }
            }
        }
    }
}

.market-prod {
    .content {
        padding-top: 1px;
        padding-bottom: 20px;
    }
}

.register {
    h3 {
        color: $bluegreen;
        font-weight: bold;
        letter-spacing: 2px;
        margin-bottom: 1em;
    }
    .block {
        padding: 0 10px;
        border-bottom: 2px solid #eaeaea;
        margin-bottom: 1em;
        >ul {
            padding: 0 20px;
        }
    }
    .error {
        color: #f00;
    }
}

.profile-tbl {
    padding: 1em 2em;
    >a {
        color: $bluegreen;
        text-decoration: underline;
        margin-bottom: 0.5em;
    }
    table {
        width: 100%;
        th {
            background-color: #d6f3f5;
            width: 20%;
        }
        th,
        td {
            padding: 0 2em;
            line-height: 2.5em;
            border: 1px solid #02b6c1;
        }
    }
}

.job-tbl {
    padding: 1em 2em;
    >a {
        color: $bluegreen;
        text-decoration: underline;
        margin-bottom: 0.5em;
    }
    table {
        width: 100%;
        th,
        td {
            padding: 0 1em;
            line-height: 2.5em;
            border: none;
        }
        th {
            background-color: #d6f3f5;
        }
        td {
            border-bottom: 1px solid #d6f3f5;
        }
    }
}

.job-tbl {
    table {
        th:first-child,
        td:first-child {
            text-align: left;
        }
        th,
        td {
            text-align: center;
            vertical-align: middle;
        }
        td:last-child {
            img {
                margin: 0 auto;
            }
        }
    }
}

.member {
    .overall {
        border-bottom: 3px solid #d6f3f5;
        padding-bottom: 2em;
        .avatar {
            .img {
                border-radius: 10px;
                overflow: hidden;
                margin-bottom: 1em;
            }
            margin-right: 50px;
        }
        .status {
            li {
                text-align: center;
                margin: 0 25px;
            }
            .num {
                display: block;
                font-size: 24px;
                letter-spacing: 0.5em;
                text-indent: 0.5em;
                margin-bottom: 1em;
            }
        }
    }
}

.query {
    width: 420px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fafafa;
    border: 1px solid #d2d2d2;
    box-sizing: border-box;
}

.resume {
    border: 1px solid #d2d2d2;
    padding: 20px;
    width: 680px;
    margin: 30px auto 0;
    position: relative;
    >.btns {
        position: absolute;
        top: -30px;
        right: 0;
        display: flex;
        a {
            color: $bluegreen;
            line-height: 23px;
            display: flex;
            margin-left: 20px;
        }
        .icon {
            margin-right: 5px;
        }
    }
    >div {
        position: relative;
        ul {
            padding: 0 1.5em;
        }
        margin-bottom: 20px;
        .avatar {
            position: absolute;
            right: 0;
            top: 0;
            max-width: 150px;
        }
    }
    .name {
        font-size: 15px;
        margin-right: 10px;
        .ct {
            font-size: 24px;
        }
        .en {}
    }
    li {
        margin-bottom: 10px;
    }
    h4 {
        font-size: 18px;
        line-height: 1.5em;
        margin-bottom: 1em;
        font-weight: bold;
        color: $bluegreen;
        border-bottom: 3px solid #d6f3f5;
    }
}

.mypost {
    margin-bottom: 50px;
}

.tbl-st1 {
    table {
        width: 100%;
        tr {
            th,
            td {
                line-height: 2em;
                text-align: center;
                padding: 0 1em;
                vertical-align: middle;
                &:first-child {
                    text-align: left;
                }
            }
            th {
                background-color: #d6f3f5;
            }
            td {
                border-bottom: 2px solid #d6f3f5
            }
        }
        img {
            margin: 0 auto;
        }
        a {
            color: $bluegreen;
        }
    }
}

.tbl-st2 {
    table {
        width: 100%;
        tr {
            th,
            td {
                border: none;
                text-align: center;
            }
            th {
                background-color: $bluegreen;
                color: #ffffff;
            }
            &:nth-child(odd) {
                background-color: #99d9dd;
            }
        }
    }
}

.cat2 {
    .ttl {
        margin-bottom: 1em;
        font-weight: bold;
    }
}

.prod {
    position: relative;
    .swiper-container {
        width: calc(100% - 60px);
    }
    .swiper-button-next,
    .swiper-button-prev {
        top: 60%;
    }
    .swiper-slide {
        .img {
            max-width: 240px;
            margin-right: 20px;
        }
        .text {
            flex-grow: 1;
            height: 100%;
            word-break: break-word;
        }
    }
}

.hot-post {
    li {
        border-bottom: 10px solid white;
    }
    .btns {
        margin-top: 10px;
        margin-bottom: 10px;
        position: relative !important;
        top: auto !important;
        right: auto !important;
    }
}

.reply .text {
    flex-grow: 1;
    position: relative;
    textarea {
        width: 100%;
        box-sizing: border-box;
    }
}

.contact {
    p {
        line-height: 3em;
        border-bottom: 1px solid black;
        margin-bottom: 1em;
    }
    li {
        line-height: 2em;
    }
}

.professional-inner {
    .content {
        padding-left: 80px;
        padding-right: 80px;
        .profile {
            .ttl {
                margin-bottom: 1em;
                font-size: 18px;
                font-weight: bold;
            }
            .img {
                margin-right: 40px;
                width: 180px;
            }
            .text {
                padding: 20px 40px;
                background-color: #fff;
            }
            margin-bottom: 40px;
        }
        .profile-detail {
            dt,
            dd {
                margin-bottom: 1em;
                line-height: 1.75em;
                border-bottom: 1px solid #bfbfbf;
            }
            dt {
                width: 20%;
                color: $bluegreen;
            }
            dd {
                width: 30%;
                flex-grow: 1;
                word-wrap: break-word;
                padding: 0 10px;
                box-sizing: border-box;
            }
        }
    }
}

.member_info.multiadd {
    margin-bottom: 0;
    .btn-add-sp {
        margin: 0;
    }
}

.activity {
    .content {
        .block {
            margin-bottom: 10px;
            line-height: 2em;
            li {
                margin-bottom: 10px;
            }
            .ttl {
                background-color: #f0d100;
                padding: 0 8px;
                border-radius: 5px;
                margin-right: 10px;
            }
        }
        .block2 {
            margin-bottom: 0;
            .ttl {
                color: $bluegreen;
                margin-right: 10px;
                min-width: 4em;
                background-color: transparent;
            }
        }
    }
}

.plan {
    .content {
        .outerlist>li {
            margin-bottom: 20px;
        }
    }
    table {
        margin-bottom: 50px;
        th,
        td {
            line-height: 1.5em;
            padding: 8px 10px;
            border: 1px solid #ccc;
            &:not(:first-child) {
                text-align: center;
            }
            border-bottom: 1px solid #ccc;
        }
        th {
            text-align: center;
            border-bottom: 2px solid #ccc;
        }
        td {
            text-align: center;
        }
        &.flag {
            th,
            td {
                border-left: none;
                border-right: none;
                border-top: none;
            }
            td {
                &:first-child {
                    padding-left: 20px;
                    position: relative;
                    text-align: left;
                    &:before {
                        content: "";
                        border-left: 10px solid $bluegreen;
                        border-top: 6px solid transparent;
                        border-bottom: 6px solid transparent;
                        position: absolute;
                        left: 0;
                        top: 15px;
                    }
                }
            }
        }
    }
}

.hire,
.marketing {
    .title {
        >li {
            margin-bottom: 20px;
            background-color: #fff;
            padding: 10px;
            position: relative;
            &:last-child {
                margin-bottom: 0;
            }
        }
        .btn-box {
            position: absolute;
            right: 10px;
            bottom: 10px;
        }
        .text {
            position: relative;
            flex-grow: 1;
            font-size: 18px;
            font-weight: bold;
            border-bottom: 1px solid #ccc;
            .type {
                display: inline-block;
                border: 1px solid $bluegreen;
                padding: 0 8px;
                margin-bottom: 10px;
                color: $bluegreen;
            }
            .ttl {
                color: $bluegreen;
                margin-bottom: 10px;
                margin-right: 10px;
            }
            .ct {
                font-size: 14px;
            }
        }
        .img {
            width: 180px;
            height: 180px;
        }
    }
    .hire-list {
        .text {
            border: none;
        }
        .ct {
            ul {
                width: calc(100% - 80px);
            }
        }
    }
    .side-left.list-page {
        background-color: #ebebeb;
        padding: 20px;
        margin-right: 0;
    }
}

.hire .btn-hire {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #000;
    background-color: #f0d100;
    font-size: 12px;
    padding: 0 1em;
    line-height: 2em;
    letter-spacing: 2px;
    line-height: 2em;
    cursor: pointer;
}

#rply {
    .btn-box {
        font-size: 12px;
    }
}

.open-window {
    font-size: 12px;
}

.post2 {
    .content {
        .side-left {
            li {
                .img {
                    position: relative;
                    width: 320px;
                    .img-title {
                        position: absolute;
                        width: 100%;
                        bottom: 0;
                        background-color: rgba(2, 182, 193, 0.78);
                        text-align: center;
                        color: #fff;
                        line-height: 2;
                    }
                }
                .text {
                    padding: 0;
                    flex-grow: 1;
                    overflow: hidden;
                    .title {
                        padding: 10px 20px;
                        background-color: #d6f3f5;
                        height: 90px;
                        box-sizing: border-box;
                        h3 {
                            font-size: 18px;
                        }
                        * {
                            color: #02b6c1;
                        }
                    }
                    .lists {
                        padding: 0 20px;
                        li {
                            height: 50px;
                            font-size: 18px;
                            line-height: 50px;
                            box-sizing: border-box;
                            border-bottom: 1px solid #bfbfbf;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            a {
                                color: #000000;
                            }
                        }
                    }
                    a {
                        // color: #ffffff;
                    }
                    h3 {
                        margin-bottom: 0.5em;
                    }
                    p {
                        font-size: 15px;
                        height: 2.5em;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                    }
                }
                &:hover {
                    .text {
                        height: 100%;
                        p {}
                    }
                }
            }
        }
    }
}

.post {
    .content {

        .side-left {
            li {

                .text {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 100%;
                    background-color: rgba(2, 182, 193, .78);
                    padding: 0;
                    height: 35px;
                    text-align: center;
                    color: #ffffff;
                    transition: all 0.5s;
                    a {
                        color: #ffffff;
                    }
                    h3 {
                        margin-bottom: 0;
                        line-height: 2;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: #ffffff;
                        img {
                            width: auto;
                            height: auto;
                            -webkit-filter: invert(100%);
                            filter: invert(100%);
                            margin-right: 5px;
                        }
                    }
                    p {
                        height: 0;
                        opacity: 0;
                        transition: all 0.5s;
                        font-size: 16px;
                    }
                }
                &:hover {
                    .text {
                        height: 100%;
                        p {
                            height: auto;
                            display: block;
                            opacity: 1;
                        }
                    }
                }
            }
        }
        li {}
    }
}

.video {
    .content {
        .frame {
            h3 {
                font-size: 24px;
            }
            width: 860px;
            margin: 0 auto;
        }
    }
}

.video-info {
    li {
        border-bottom: 2px solid #eaeaea;
        line-height: 3em;
        margin-bottom: 0.5em;
        .text {
            line-height: 2;
            ol {
                display: block;
                list-style-type: decimal;
                -webkit-margin-before: 1em;
                -webkit-margin-after: 1em;
                -webkit-margin-start: 0px;
                -webkit-margin-end: 0px;
                -webkit-padding-start: 40px;
                li {
                    display: list-item;
                    text-align: -webkit-match-parent;
                    border-bottom: none;
                    line-height: 1.5;
                }
            }
        }
        h4 {
            color: $bluegreen;
            margin-right: 1.5em;
            width: 4em;
            flex-shrink: 0;
        }
        p {
            color: #000;
        }
        a {
            color: #1f7cfc;
        }
        &:last-child {
            border-bottom: none;
        }
    }
}

.page-index {
    .side-left{
        width: 900px;
    }
    .side-right {
        min-width: calc(100% - 900px);
        max-width: calc(100% - 900px);
        .name {
            a {
                width: 90%;
                overflow: hidden;
                text-overflow: ellipsis;
                position: relative;
            }
        }
    }
    .hot {
        .grid3 {
            width: 100%;
        }
    }
    .hot-today {
        position: absolute;
        right: 0;
        top: 10px;
    }
}

.links {
    position: relative;
    border: 1px solid #bfbfbf;
    margin-bottom: 20px;
    padding-bottom: 30px;
    .btn-more{
        bottom: 15px;
    }
    h2{
        color: #02b6c1;
        font-size: 24px;
        letter-spacing: 5px;
        padding: 0 1em;
        line-height: 2.5em;
        flex-shrink: 0;
        min-width: 4em;
    }
    h3{
        background-color: #f0d100;
        display: inline-block;
        border-right: 5px;
        font-size: 16px;
        font-weight: bold;
        padding: 5px 8px;
        border-radius: 5px;
        margin-bottom: 20px;
    }
    ul{
        display: flex;
        flex-wrap: wrap;
        li{
            margin-bottom: 10px;
            a{
                color: #333;
            }
        }
    }
    >ul{
        padding: 0 1em;
        >li{
        }
    }
}

.bred {
    .mt {
        text-align: center;
        margin-bottom: 20px;
    }
    .two-side {
        >* {
            width: 50%;
            flex-shrink: 0;
        }
        [class*=grid] {
            width: 100%;
            >* {
                display: flex;
                flex-direction: column;
                padding: 0 10px;
                height: 250px;
                box-sizing: border-box;
            }
            .text {
                flex-grow: 1;
            }
        }
        .swiper-container {
            width: calc(100% - 50px);
        }
        .btn-more {
            bottom: -30px;
            right: 40px;
        }
    }
}

#loginform {

    a {
        display: flex;
        justify-content: center;
    }
}

.marketing-info {
    // width: 860px; // marketing page inner
    margin: 0 auto 20px;
    .img img {
        max-width: 200px;
    }
}

.marketing .marketing-list {
    .btn-box {
        right: 0;
        top: 0;
        bottom: auto;
    }
    li {
        padding: 20px;
        .img {
            max-width: 200px;
            margin-right: 20px;
            height: auto;
        }
    }
    .text {
        border-bottom: none;
    }
}

.statistics {
    .year-select {
        position: absolute;
        min-width: 5em;
        right: 0;
        top: 20px;
        font-size: 18px;
    }
    .swiper-container {
        width: 100%;
        .swiper-pagination {
            display: none;
        }
        .swiper-slide {
            overflow: auto;
        }
        table {
            width: 100%;
            tr {
                th,
                td {
                    padding: 20px 0;
                    text-align: center;
                    &:not(:first-child) {
                        min-width: 70px;
                    }
                    &:first-child {
                        min-width: 110px;
                        width: 110px;
                    }
                }
                &:first-child {
                    th {
                        background-color: $bluegreen;
                        padding: 10px 0;
                        position: relative;
                        span {
                            position: absolute;
                        }
                        .a {
                            left: 2px;
                            bottom: 2px;
                        }
                        .b {
                            right: 2px;
                            top: 2px;
                        }
                        &:first-child {
                            &:after {
                                content: "";
                                position: absolute;
                                left: 0;
                                top: 0;
                                width: 116px;
                                border-bottom: 1px solid black;
                                transform-origin: 0 0;
                                transform: rotate(19deg);
                            }
                        }
                    }
                }
                th {
                    background-color: #d6f3f5;
                }
            }
        }
    }
}

.prospect {
    .intro {
        flex-grow: 1;
        margin-right: 20px;
    }
    .imgs {
        margin: 0 auto;
    }
    #prospect-swiper {
        margin: 0;
        .swiper-slide {
            cursor: pointer;
        }
        .swiper-pagination-bullet {
            opacity: 1;
        }
        .prev,
        .next {
            position: absolute;
            background-color: rgba(0, 0, 0, 0.5);
            width: 30px;
            height: 100%;
            z-index: 9;
            top: 0;
        }
        .prev {
            left: 0;
        }
        .next {
            right: 0;
        }
        .swiper-button-prev {
            transform: rotate(0) scale(0.5);
            left: 0;
        }
        .swiper-button-next {
            transform: rotate(0) scale(0.5);
            right: 0;
        }
        /*
        .up,.down{
            width: 100%;
            position: absolute;
            background-color: rgba(0,0,0,0.3);
            top: 0;
            left: 0;
            height: 30px;
            z-index: 9;
        }
        .down{
            bottom: 6px;
            top: auto;
            } */
    }
    .imgs {
        position: relative;
    }
    .large-view {
        margin-bottom: 10px;
        img {
            width: 100%;
        }
    }
}

.booking {
    width: 520px;
    margin: 0 auto;
    h4.ttl {
        margin-right: 10px;
    }
    h5.ttl {
        width: 100%;
        box-sizing: border-box;
    }
    .ttl {
        margin-right: 0;
    }
    .custom-select {
        margin-right: 0;
        max-width: none;
    }
    .custom-input {
        input {
            width: 100%;
            margin-right: 0;
        }
        textarea {
            resize: none;
            overflow-x: hidden;
        }
    }
}

.video-frame {
    img {
        width: auto;
        max-width: 100%;
        margin: 0 auto;
    }
}

#page-market {
    .btn-more {
        color: #58230b;
    }
    .link {
        a {
            color: #58230b;
            &:before {
                background-color: #58230b;
            }
        }
    }
    .video-info {
        li {
            h4 {
                color: #58230b;
            }
        }
    }
    header {
        background-color: #eeb900;
        >div {
            background-color: #eeb900;
        }
        nav {
            ul {
                li {
                    margin-left: 1.5em;
                }
            }
            a {
                color: #58230b
            }
            .submenu {
                background-color: #f7f0c2;
                li {
                    margin-left: 0;
                }
            }
        }
    }
    footer {
        background-color: #eeb900;
    }
    .breadcrumb {
        border-color: #f7f0c2;
    }
    .ttl-bar {
        background-color: #f7f0c2;
        color: #58230b;
        .tab {
            li {
                &:hover {
                    background-color: #fff;
                }
                &.active {

                    a {
                        color: #58230b!important;
                    }
                }
                a {
                    color: #58230b!important;
                }
            }
        }
    }
    .marketing {
        .ttl-bar {
            background-color: transparent;
            display: flex;
            align-items: center;
            position: relative;
        }
        #searchform {
            position: absolute;
            right: 0;
            top: -58px;
        }
    }
}

.submenu-pic {
    margin-top: 20px;
    padding: 0 35px;
    a {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    li {
        position: relative;
        cursor: pointer;
        color: #c7c7c7;
        font-size: 13px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-right: 20px;
        width: 5em;
        height: 5em;
        background-color: #ffffff;
        border-radius: 5px;
        border: 3px solid #c7c7c7;
        .img {
            margin-bottom: 5px;
        }
        img {
            display: block;
            margin: 0 auto;
        }
        &.active {
            &.i1 {
                border-color: #85bf23;
                color: #85bf23;
            }
            &.i2 {
                border-color: #009c84;
                color: #009c84;
            }
            &.i3 {
                border-color: #e53080;
                color: #e53080;
            }
            &.i4 {
                border-color: #004e98;
                color: #004e98;
            }
            &.i5,
            &.i6 {
                border-color: #ea6000;
                color: #ea6000;
            }
            &.i7,
            &.i8 {
                border-color: #009fe8;
                color: #009fe8;
            }
            &.i9 {
                border-color: #523384;
                color: #523384;
            }
            &.i10 {
                border-color: #f3b5be;
                color: #f3b5be;
            }
        }
    }
}

.member .table-prods {
    width: 100%;
    th,
    td {
        border: none;
        border-bottom: 2px solid #b5b5b5;
        height: 55px;
        padding: 0;
        vertical-align: middle;
        text-align: center;

        img {
            max-height: 45px;
            width: auto;
            margin: 0 auto;
        }
        .icon {
            img {
                height: 20px;
            }
        }
    }
    .chkbox {
        width: 30px;
        text-align: center;
    }
    .manage {
        width: 200px;
    }
}

ul.tagit li.tagit-new {
    input {
        height: auto;
        line-height: 2em;
    }
}

.tagit-label {
    line-height: 2em;
}

.news-index,
.news-inner{
    .source {
        font-size: 13px;
        .date {
            color: #02b6c1!important;
        }
    }
}
.news-index .home {
    //news.blade.php
    &.cat {
        >ul>li {
            position: relative;
            margin-bottom: 20px;
        }
        .btn-more {
            color: #02b6c1;
            bottom: 10px;
        }
        .news-wrap {
            display: flex;
        }
        a {
            color: #000000;
        }
        h3 {
            font-size: 24px;
            display: table-cell;
            font-weight: bold;
            color: #02b6c1;
            background-color: #eee;
            padding: 5px 20px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
        .source {}
        .img {
            margin-bottom: 20px;
        }
        .left,
        .right {
            background-color: #eeeeee;
        }
        .inner{
            .left{
                background-color: transparent;
            }
        }
        .left {
            width: 755px;
            .tp {
                padding: 12px;
                >li {
                    padding: 12px;
                    font-size: 18px;
                    a {
                        display: block;
                        margin-bottom: 0.5em;
                    }
                    
                }
            }
        }
        .right {
            padding-top: 12px;
            padding-right: 24px;
            padding-bottom: 50px;
            flex-grow: 1;
            li {
                padding-left: 1em;
                line-height: 2;
                border-bottom: 2px solid #dcdcdc;

                a {
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    height: 2em;
                    width: 400px;
                }
            }
        }
    }
}
.news-inner{
    .side-right{
        .ca{
            li{
                border-bottom: 1px solid lightgray;
            }
        }
    }
}