#loginform .error-icon {
    position: absolute;
    right: 0px;
    padding: 12px 30px 0 0;
    color: #c33;
}
#loginform .error-icon i{
	padding-right:6px;
}
li.sep{
	border-bottom: #dedede dashed 1px;
}
li.sep:last-child{
	border-bottom: none;
}
section.member .avatar .img{
	width: 104px;
	height:104px;
}
section.member .avatar .img img{
	max-width:100%;
	max-height:100%;
}
form#searchform {
    padding-top: 10px;
    max-width: 320px;
}
.pagination {
    display: inline-block;
}

.pagination li {
    color: black;
    float: left;
    text-decoration: none;
}
.pagination li.active {
    background-color: #02b6c1;
    color: white;
}

.pagination li:hover:not(.active) {background-color: #ddd;}
.btn{
	margin: 10px;
    padding: 10px;
    display: inline-block;
    background: #02b6c1;
    height: 20px;
    min-width: 60px;
    text-align: center;
    color: #fff !important;
    border-radius: 3px;
    text-decoration: none !important;
    cursor: pointer !important;
    line-height: initial;
}
button.btn-confirm:hover {
    background-color: #02b6c1;
    color: #ffffff;
}
button.btn-confirm {
    display: inline-block;
    width: 200px;
    font-size: 24px;
    line-height: 2.25em;
    border: 1px solid #02b6c1;
    text-align: center;
    color: #02b6c1;
    border-radius: 10px;
    margin-right: 20px;
    cursor: pointer;
    background: #fff;
}
.text-center{
	text-align: center;
}
.custom-input .spacer {
    height: 45px;
    padding: 0 1em;
    margin-right: 1em;
    min-width: 6.5em;
}
.cinfo{
	float: left;
    width: 20%;
    height: 150px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: #e0e0e0 solid 1px;
    margin: 0px 2% 20px 2%;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #eee;
    flex-direction: column;
}
.cinfo img{
	max-width:100px;
	max-height:100px;
} 
.cinfo .del{
	display: block;
	position: absolute;
	right:-10px;
	top:-10px;
	width: 20px;
	height:20px;
	color:#C30;
	cursor: pointer;
	font-size: 20px;
}
.profile-tbl{
	padding:0 !important;
}
.member-pic img{
	max-width: 120px !important;
	max-height: 120px !important;
}
.comp-spic{
	width: 267px;
	height: 178px;
}
.comp-spic img{
	max-width: 100% !important;
	max-height: 100% !important;
}
.comp-pic{
	width: 500px;
	height: 250px;
}
.comp-pic img{
	max-width: 100% !important;
	max-height: 100% !important;
}
.btns a{
	cursor:pointer;
}
.rdesume-pic{
    position: absolute;
    top: 56px;
    right: 0;
    width: 150px;
    height: 150px;
    background: #f1f1f1;
}
.register .block > .item{
    margin: 5px 20px;
    padding: 15px 0px;
    position:relative;
}
.register .block > .item:nth-child(even){
    background:#f9f9f9;
}
.register .block > .item > .del{
    display: inline-block;
    padding:0 20px;
    cursor:pointer;
    color:#999;
    font-size: 18px;
}
.register .block > .item >div{
    display:inline-block;
}
.register .block > .job >div{
    width:25%;
}
.register .block > .job >div.work{
    width:40%;
}
header>div{
    background-color: #02b6c1;
}
.simg a{
    display: flex;
    align-items: center;
    justify-content: center;
    height:150px;
    flex-shrink:inherit;
}
.simg a img{
    max-width:100%;
    max-height:100%;
}
.page-inner .ttl-bar .tab li:hover a {
    border-radius: none !important;

}

.post_sort{
  position: absolute;
  left: 25px;
  top: 10px;
}
.post_sort h4{
  width: 5em;
}

/*彈跳視窗*/
.popup{
  display: none;
  position: fixed;
  top:0;
  left:0;
  width: 100vw;
  height:100vh;
  z-index: 9999;
}
.popup-Cooperation{
  display: none;
  position: fixed;
  top:0;
  left:0;
  width: 100vw;
  height:100vh;
  z-index: 9999;
}
.masklayer{
  width: 100%;
  height:100%;
  background:rgba(0,0,0,0.5);
}
.popup_window{
  position: absolute;
  top:150px;
  left:50%;
  width:600px;
  margin-left: -300px;
  background: #fff;
  color:#333;
}
.popup_title{
  background: #02b6c1;
  color:#fff;
  padding: 15px 20px;
    font-size: 21px;
}
.popup_content{
  padding:20px;
}
.popup_content .note{
  padding:0 0 15px 0;
}
.ask{
  cursor: pointer;
}
.cooperation{
  cursor: pointer;
}
.member_menu > ul > li{
    position:relative;
}
.member_menu > ul > li .msg_count{
    position:absolute;
    right:-24px;
    top:0;
    border-radius:50%;
    width:24px;
    height:24px;
    color:#fff;
    background:#8c0000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.smember .avatar{
    padding: 15px 0 0 0;
    width: 120px;
    text-align:center;
}
.smember .avatar .img{
  border-radius: 32px;
    width:64px;
    height:64px;
    display: inline-block;
    overflow: visible;
    background-color: #fff;
}
.smember .avatar .img img{
    width:100%;
    height:100%;
    border-radius: 50%;
}
.smember .avatar h4{
    color: #02b6c1;
    padding:10px;
}
.smember .avatar p{
    font-size:10px;
}
pre { 
  white-space: pre-wrap; 
  white-space: -moz-pre-wrap; 
  white-space: -pre-wrap; 
  white-space: -o-pre-wrap; 
  word-wrap: break-word; 
} 
.new_title{
  position: absolute;
  bottom: 0;
  left: 5px;
  width: 95%;
  padding: 10px 5px;
  background: #CCE8F5;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.comp-brief{
  height: 37px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
.market-content{
 font-size: 18px;
 line-height: 33px;
}
.hot .hot-articles .list li {
  max-width:360px;
}